@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #191B1F;
}

.side-menu {
    position: fixed;
    align-items: center;
    width: 12%;
    height: 100vh;
    border-right: solid 2px #4040492a;
}

.side-menu a{
    text-decoration: none;
}

.side-menu a:first-child{
    background-color: black;
}

.menu-item {
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: .5em 0 .5em .2em;
}

.menu-item i{
    font-size: 1.3em;
    margin: 0 0 0 1em;
}

.menu-item p{
    margin-top: 1em;
    margin-left: 1em;
}

.menu-item:hover{
    transition: background-color .2s ease-in-out;
    color: white;
    background-color: black;
    text-decoration: none;
}

.main-content{
    margin: 4em 4em 0 15em;
}

.main-content h1 {
    color: #EAEBED;
    margin-bottom: .7em;
}

.main-content p{
    color: lightgray;
    margin-bottom: 3em;
}

.list-games {
    display: block;
}

.add-games {
    display: none;
}

.botoes-acoes button{
    margin: .3em
}

form {
    color: white;
    width: 30%;
}

form button{
    margin-top: 2em;
    margin-bottom: 2em;
}