@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    /* border: solid 1px black; */
}

body {
    width: 100%;
    height: 100%;
    background-color: #191B1F;
    color: #EAEBED;
}

#home {
    display: flex;
    padding-left: 10%;
    padding-top: 25px;
    width: 95%;
}

.menu-item {
    display: flex;
    width: 40px;
    height: 40px;
    margin: 20%;
    transition: background-color .5s ease-in-out;
    border-radius: 10px;
    justify-content: center;
    align-content: center;
    cursor:pointer;
}
.image-icons{
    filter: brightness(70%);   
}
.image-icons:hover{
    -webkit-filter: drop-shadow( 0px 0px 2px #ffff);
    filter: drop-shadow( 0px 0px 2px #ffff);
}

.menu-item:hover {
    transition: background-color .5s ease-in-out;
    background-color: #0056b3;
}

.menu-item img {
    position: absolute;
    display: block;
    align-self: center;
    width: 30px;
    height: 30px;
}


#side-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 10%;
    height: 100%;
    align-items: center;
    justify-content: center;
    border-right: solid 2px #4040492a;
    animation: 2s ease-out 0s 1 fromLeft;
}

header {
    display: flex;
    width: 100%;
}


#header-menu {
    display: flex;
    position: fixed;
    right: 30px;
    z-index: 10;
}


#header-menu a {
    display: flex;
    width: 50px;
    transition: background-color .5s ease-in-out;
    margin: 0;
    margin-top: 20px;
    border-radius: 19px;
} */

#header-menu a img {

    display: block;
    margin: auto;

 } 

#header-menu a:hover {
    transition: background-color .5s ease-in-out;
    background-color: #0056b3; 
}

.search {
    position: absolute;
    top: 20px;
    width: 40px;
}

#search {
    border-radius: 20px;
    transition: width 0.15s ease-in-out, width 0.15s ease-in-out;
    width: 40px;
    background: url('/static/img/search.png') no-repeat center;
    background-size: 20px;
    background-color: rgba(245, 245, 245, 0.062);
    color: beige;
}


#search:focus {
    width: 200px;
    transition: width 0.15s ease-in-out, width 0.15s ease-in-out;
    background: black;
}



.dash {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-left: 3%;
    padding-left: 0%;
}

.banner {
    display: flex;
    background-color: rgba(245, 245, 245, 0.062);
    height: 300px;
    width: 1010px;
    border-radius: 30px;
    transition: width 2s, height 4s;
    transition-delay: 1s;
    animation: 2s ease-in-out 0s 1 fromTop;
    backdrop-filter: blur(1px);
    background-color: rgba(245, 245, 245, 0.062);
    -webkit-backdrop-filter: blur(20px);
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
}


.banner::before {
    position: absolute;
    width: 1010px;
    height: 300px;
    content: "";
    border-radius: 30px;
    padding: 2px;
    background: linear-gradient(45deg, black, grey);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
}

.banner:hover::before {
    opacity: 0;
    background: linear-gradient(90deg, black, grey);
}

.banner::after {
    content: "";
    position: absolute;
    width: 1010px;
    height: 300px;
    border-radius: 30px;
    padding: 2px;
    background: linear-gradient(60deg, blue, red);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    opacity: 0;
    transition: opacity 1s ease-out;
}

.banner:hover::after {
    opacity: 1;
    background: linear-gradient(45deg, blue, red);

}

.banner-block {
    background-image: url(/static/img/capa-spiderman.jpg);
    background-size: cover;
    position: absolute;
    width: 1010px;
    height: 300px;
    border-radius: 30px;
    
}

.text-banner{
    position: absolute;
    top: 10%;
    left: 5%;
}

.text-banner h2{
    font-weight: bold;
}
.brand-new {
    width: 40px;
    background-color: #F85251;
    text-align: center;
    color: white;
    font-size: 15px;
    font-weight: bold ;
    border-radius: 3px;
}

.purchase-banner {
    position: absolute;
    bottom: 10%;
    display: flex;
    left: 5%;
    background-color: #2D2F3C;
    width: 20%;
    align-items: center;
    height: 60px;
    font-weight: bold;
    border-radius: 20px;
}

price {
    position: absolute;
    align-self: center;
}

.purchase {
    position: absolute;
    right: 5%;
    padding: 10px;
    z-index: 10;
    border-radius: 20px!important;
    font-weight: bold;
    font-size: 1rem;
}

.banner-img {
    position: absolute;
    right: 10%;
    top: 2%;
}

.new-games {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}
.new-games h2 {
    margin-left: 50px;
    font-weight: bold;
    font-size: 1rem;
}
.cards {
    display: flex;
    width: 1010px;
    flex-wrap: wrap;
    margin-left: 30px;
    justify-content: space-around;
    z-index: 1; 

}

.new-games .card {
    margin-top: 1%;
    margin-inline: 1px;
    width: 300px;
    height: 230px;
    background-color: #191B1F;
    border: none;

    /* backdrop-filter: blur(1px);
    background-color: #191B1F;
    -webkit-backdrop-filter: blur(20px);
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
    border-radius: 30px; */
    /* justify-content: center;
    animation: 2s ease-in-out 0s 1 fromBottom; */

}

/* .new-games .card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 30px;
    padding: 2px;
    background: linear-gradient(45deg, black, grey);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    transition: opacity 2s ease-out;
} */

/* .new-games .card:hover::before {
    opacity: 0;
    background: linear-gradient(90deg, black, grey);
} */

/* .new-games .card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 30px;
    padding: 2px;
    background: linear-gradient(60deg, blue, red);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    opacity: 0;
    transition: opacity 1s ease-out;
} */

.new-games .card:hover::after {
    opacity: 1;
    background: linear-gradient(45deg, blue, red);
}


.card-img {
    display: block;
    margin-top: 0;
    margin-left: 0  ;
    margin-right: auto;
    border-radius: 25px;
    max-height: 150px;
    max-width: 200px;
}

.card h5 {
    display: block;
    margin-top: 5%;
    padding-left: 0;
    margin-right: auto;
    margin-bottom: 1%;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
}


.card .add-cart {
    display: block;
    position: absolute;
    right: 0px;
    bottom: 20px;
    z-index: 2;
    margin-right: 20px;
    background-size: 35px;
    width: 52px;
    border-radius: 25px;
    height: 52px;
    backdrop-filter: blur(1px);
    background-color: rgba(245, 245, 245, 0.062);
    -webkit-backdrop-filter: blur(20px);
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
    border-radius: 25px;
    justify-content: center;
}

.card img {
    max-width: 200px;
}
.card .add-cart div {
    display: flex;
    content: "";
    position: absolute;
    width: 49px;
    height: 49px;
    left: 0;
    background-color: #007bff;
    border-radius: 25px;
    top: 0;
    z-index: -1;
}

.card .add-cart div img {
    display: block;
    width: 35px;
    height: 35px;
    margin: auto;
}


/* .card .add-cart::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 25px;
    padding: 2px;
    background: linear-gradient(45deg, red, blue);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    transition: opacity 2s ease-out;
} */

.card .add-cart:hover::before {
    opacity: 0;
}

.card .add-cart::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 25px;
    padding: 2px;
    background: linear-gradient(45deg, white, grey);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

.card .add-cart:hover::after {
    background: linear-gradient(60deg, white, grey);
    opacity: 1;
}
.card button{
    text-align: center;
    align-self: flex-start;
    margin-top: 10px;
}

.details {
    display: block;
    align-self: center;
    width: 100px;
    z-index: 2;
}

table {
    border-radius: 30px;
}

.overlay {
    position: absolute;
    display: none;
    z-index: 10;
    background-color: rgba(245, 245, 245, 0.062);
    justify-content: center;
    margin: auto;
    top:50px;
    left:18%;
    width: 1010px;
    height: 500px;
    border-radius: 30px;
    animation: 3s ease-in-out 0s 1 fromLeft;
    backdrop-filter: blur(10px);
    background-color: rgba(245, 245, 245, 0.062);
    -webkit-backdrop-filter: blur(20px);
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
}


.overlay::before {
    position: absolute;
    width: 1010px;
    height: 500px;
    content: "";
    border-radius: 30px;
    padding: 2px;
    background: linear-gradient(45deg, black, grey);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
}

.overlay:hover::before {
    opacity: 0;
    background: linear-gradient(90deg, black, grey);
}

.overlay::after {
    content: "";
    position: absolute;
    width: 1010px;
    height: 500px;
    border-radius: 30px;
    padding: 2px;
    background: linear-gradient(60deg, blue, red);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    opacity: 0;
    transition: opacity 1s ease-out;
}

.overlay:hover::after {
    opacity: 1;
    background: linear-gradient(45deg, blue, red);

}

.close-button{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    z-index:2;
    cursor:pointer;
    color:black;
    font-weight: 1900;
    background: url(/style/img/close.png) no-repeat center;
    background-color: #007bff;
    background-size: 30px;
}
.close-button:hover {
    transition: background-color .5s ease-in-out;
    color:black;
    background-color: #0056b3;
}

.overlay table{
    position: absolute;
    top: 100px;
}
.game-info div{
    position: absolute;
    top: 50%;
    right: 10%;
    width: 40%;
    height: 50%;
    
}
.game-info iframe{
    position: absolute;
    top: 50%;
    left: 10%;
    width: 35%;
    height: 45%;
    border-radius: 25px;
}
.game-info h2{
    position: absolute;
    top: 20%;
    left: 10%;
    font-weight: bolder;
    font-size: xx-large;
}
.game-info .btn-primary{
    position: absolute;
    right: 0;
}

#all-games{
    display:none;
    padding-left: 10%;
    padding-top: 25px;
    width: 95%;
    height:100%;
}

#developers {
    border: solid 1px black;
    position: absolute;
    display: flex;
    z-index: 10;
    background-color: rgba(245, 245, 245, 0.062);
    justify-content: center;
    margin: auto;
    top:50px;
    left:18%;
    width: 1050px;
    height: 500px;
    border-radius: 30px;
    animation: 3s ease-in-out 0s 1 fromLeft;
    backdrop-filter: blur(10px);
    background-color: rgba(245, 245, 245, 0.062);
    -webkit-backdrop-filter: blur(20px);
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
}


#developers::before {
    position: absolute;
    width: 1050px;
    height: 500px;
    content: "";
    border-radius: 30px;
    padding: 2px;
    background: linear-gradient(45deg, black, grey);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
}

#developers:hover::before {
    opacity: 0;
    background: linear-gradient(90deg, black, grey);
}

#developers::after {
    content: "";
    position: absolute;
    width: 1050px;
    height: 500px;
    border-radius: 30px;
    padding: 2px;
    background: linear-gradient(60deg, blue, red);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    opacity: 0;
    transition: opacity 1s ease-out;
}

#developers:hover::after {
    opacity: 1;
    background: linear-gradient(45deg, blue, red);

}

section#dev {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    font-style: italic
}

  .profile-card{
    padding: 10px;
    margin: 0 1rem;
    box-shadow: rgba(222, 235, 248, 0.2) 0px 8px 24px;
    z-index: 20;
    border-radius: 25px;
  }
  
  section#dev div h2 {
    text-align: center;
    padding: 1rem;
  }
  
  section#dev div img {
    display: block;
    margin: auto;
    border-radius: 25px;
  }

   .links{
    display: flex;
    background: none;
    border: none;
    justify-items: space-between;
  }

  #profile-photos{
    height: 80px;
  }

  #profile-description{
    max-width: 700px;
    max-height: 700px;
    font-size: 11px;
  }
  
  .iframe-youtube{
      display: flex;
      justify-content: flex-start;
  }
@keyframes fromLeft {
    0% {
        transform: translateX(-150%);
    }

    100% {
        transform: translateX(0);
    }
}


@keyframes fromTop {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes fromBottom {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}
