@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.main-container
{
    width: 100%;
    height: 40vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.384), #191B1F 95%), url('../img/gaming-img.jpg');
    background-size: cover;
    background-position: center;
}

.second-container
{
    width: 100%;
    min-height: 50vh;
    background-color: #191B1F;
}

.second-container .container
{
    min-height: 60vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-info-card
{
    color: white;
    width: 50%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

.info-card-up h1
{
    margin-bottom: 30px;
    font-weight: 600;
}

.info-card-up span
{
    color: #0D82EC;
    font-size: 5rem;
}

.button-area
{
    display: flex;
    flex-direction: column-reverse;
}

.btn-me
{
    padding: 1em 2em 1em 2em;
    border: none;
    border-radius: 50px;
    color: white;
    background-color: #0D82EC;
    box-shadow: 0 0 100px #0D82EC;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.btn-me:hover
{
    background-color: #034B94;
}